<ion-view view-title="Selection">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{currentImage.currentGenre.imageUrl}}">
                <h2>Title: {{currentImage.currentGenre.title || "No current title"}}</h2>
                <p>Genre: {{currentImage.currentGenre.score || "No current score"}}</p>
            </div>
            <div class="item item-image">
                <a href="/image/{{currentImage.id}}">
                    <img ng-src="{{currentImage.url}}">
                </a>
            </div>
            <div ng-show="stage === 'rating'">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="item item-text-wrap">How much does this image represent Ben?</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="item range range-assertive">
                            <i class="icon ion-ios-star-outline"></i>
                            <input type="range" name="volume" min="1" max="5" value="1" ng-model="tempScore">
                            <i class="icon ion-ios-star"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="button button-block button-assertive" ng-click="updateImageScore(tempScore)">
                            Next
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="stage === 'genre'">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="item item-text-wrap">And how does it make you feel?</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="button-bar">
                        <a class="button button-assertive" ng-repeat="genre in genreList.genres" ng-if="$index % 2 == 0" ng-click="updateImageGenre(genre.text)"><i class="icon icon-left" ng-class="genre.icon"></i>{{genre.text}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="button-bar">
                        <a class="button button-assertive" ng-repeat="genre in genreList.genres" ng-if="$index % 2 != 0" ng-click="updateImageGenre(genre.text)"><i class="icon icon-left" ng-class="genre.icon"></i>{{genre.text}}</a>
                    </div>
                </div>
            </div>
            <div ng-show="stage === 'captions'">
                <div class="row">
                    <div class="col">
                        <div class="button button-block button-assertive" ng-click="newImage(currentImage.url)">
                            More images!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="item item-icon-left assertive" href="#" ng-repeat="caption in currentImage.captions">{{caption.text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
